PORT=3000

DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=$Ony3434
DB_NAME=cvpilot
DB_SCHEMA=public
DB_SSL=false
DB_SYNCHRONIZE=true
DB_LOGGING=false

JWT_SECRET=change-me
JWT_EXPIRES_IN=1d

UPLOAD_DIR=uploads

